@using EntityLayer;
@model Firma;
@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
    <h3>Firma Guncelle</h3>
    @using (Html.BeginForm("Guncelle", "Firma", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.TextBoxFor(firma=>firma.firmaId,new { @class = "form-control",@name="firmaId",@value="@Model.firmaId",@type="hidden"})
        @Html.Label("Firma Adı")
        @Html.TextBoxFor(firma=>firma.firmaAd,new { @class = "form-control",@name="firmaAd",@value="@Model.firmaAd" })
        @Html.ValidationMessageFor(firma=>firma.firmaAd,"",new { @class ="text-danger" })
        <br />
        @Html.Label("İletişim Bilgisi")
        @Html.TextBoxFor(firma=>firma.iletisim,new { @class = "form-control",@name="iletisim",@value="@Model.iletisim" })
        @Html.ValidationMessageFor(firma=>firma.iletisim,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Firma Logo")
        @Html.TextBoxFor(firma=>firma.logoUrl,new { @class = "form-control",@name="logoUrl",@value="@Model.logoUrl" })
        @Html.ValidationMessageFor(firma=>firma.logoUrl,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Durum")
        <select class="form-control" name="silindi">
            if (Model.silindi)
            {
            <option selected>True</option>
            <option>False</option>
            }
            else
            {
            <option>True</option>
            <option selected>False</option>
            }
        </select>
        <br />
        <input class="form-control btn btn-primary" type="submit" value="Firma Güncelle" />
    }
</div>



