@using EntityLayer
@using BusBiletCoreApplication.PagedList;
@model List<Firma>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var pager = (Pager)ViewBag.pager;
    var searchText=ViewBag.searchText;
   
}
@section searchbar{
    <!-- Topbar Search -->
    <form asp-controller="Firma" asp-action="Index" class="d-none d-sm-inline-block form-inline mr-auto md-3 my-md-0 mw-100 navbar-search">
        <div class="input-group ms-3">
            <input type="text" name="searchText" class="form-control border-0 small" value="@searchText" placeholder="Firma Ara"
               aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-light" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>

}
<table class="table">
    <thead>
        <tr>
            <th>Firma Adı</th>
            <th>İletişim Bilgisi</th>
            <th>Logo</th>
            <th>Durum</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.firmaAd</td>
                <td>@item.iletisim</td>
                <td>@item.logoUrl</td>
                <td>@item.silindi</td>
                <td>
                            <button type="button" class="btn btn-outline-danger  text-center" data-bs-whatever="@item.firmaId" data-bs-toggle="modal" data-bs-target="#decisionPopup"><i class="fas fa-trash"></i> </button>
                </td>
                    <td><a href="/Firma/guncelle/@item.firmaId" type="button" class="btn btn-outline-primary p-2 ">Güncelle</a></td>
            </tr>
        }

    </tbody>
</table>
<div class="text-center d-flex justify-content-start p-2">
    <a href="/Firma/ekle" class="btn btn-success"><ion-icon name="add" style=" font-size:30px;"></ion-icon></a>
</div>

                   
               

<div id="ListContainer" style="color:white;display:inline-block;position:relative;top:50%;left:50%;transform:translate(-50%,-50%);">
@*    <partial name="partialview" model="@Model" />*@
    <partial name="partialcustompager" model="@pager" />
</div>
<!-- Modal -->
@*#decisionPopup Model*@
<div class="modal fade" id="decisionPopup" tabindex="=-1" aria-labelledby="silLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="silLabel">Uyarı</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Silmek istediğinizden emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                <a id="delete-btn" href="" class="btn btn-success">Evet</a>
            </div>
        </div>
    </div>
</div>
<br />
<input type="text" id="text" />
<button id="btn" type="button" class="btn btn-secondary" >burdayım</button>
     <div id="firmaNesne">

     </div>
    <script>
    $("#btn").click(x => {
     let textValue = parseInt($("#text").val());
        $.ajax({
           contentType:"application/json",
            dataType:"json",
            type:"get",
            url: "/Firma/deneme/",
            data: { id: textValue },
            success:function(resp){
            let parsedData=jQuery.parseJSON(resp);
                console.log(parsedData);
               var table= document.createElement("table");
                var tr = document.createElement("tr");
                var td1 = document.createElement("td");
                var td2 = document.createElement("td");
                var td3 = document.createElement("td");
                var td4 = document.createElement("td");
                td1.innerHTML = parsedData["firmaAd"];
                td2.innerHTML = parsedData["iletisim"];
                td3.innerHTML = parsedData["logoUrl"];
                td4.innerHTML = parsedData["silindi"];
                tr.appendChild(td1);
                 tr.appendChild(td2);
                tr.appendChild(td3);
                tr.appendChild(td4);
              
                table.appendChild(tr); 
                var div = document.getElementById("firmaNesne");
                div.remove();
                div.appendChild(table);
            }
        });
    });

    $(document).ready(function(){
        $('#decisionPopup').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget);
            var firmaId = button.attr('data-bs-whatever');
            console.log(firmaId);
            var a = document.querySelector("#delete-btn");
            a.href = "/Firma/sil/" + firmaId;
        });
    });
</script>
   