@using EntityLayer;
@model List<Firma>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Firma Adı</th>
            <th>İletişim Bilgisi</th>
            <th>Logo</th>
            <th>Durum</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.firmaAd</td>
                <td>@item.iletisim</td>
                <td>@item.logoUrl</td>
                <td>@item.silindi</td>
                <td>
                            <button type="button" class="btn btn-outline-danger  text-center" data-bs-whatever="@item.firmaId" data-bs-toggle="modal" data-bs-target="#decisionPopup"><i class="fas fa-trash"></i> </button>
                </td>
                    <td><a href="/Firma/guncelle/@item.firmaId" type="button" class="btn btn-outline-primary p-2 ">Güncelle</a></td>
            </tr>
        }

    </tbody>
</table>
<div class="text-center d-flex justify-content-start p-2">
    <a href="/Firma/ekle" class="btn btn-info">Yeni Firma Ekle</a>
</div>


<!-- Modal -->
@*#decisionPopup Model*@
@*<div class="modal fade" id="decisionPopup" tabindex="=-1" aria-labelledby="silLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="silLabel">Uyarı</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Silmek istediğinizden emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                <a id="delete-btn" href="" class="btn btn-success">Evet</a>
            </div>
        </div>
    </div>
</div>*@
 

    <script> 
    $(document).ready(function(){
        $('#decisionPopup').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget);
            var firmaId = button.attr('data-bs-whatever');
            console.log(firmaId);
            var a = document.querySelector("#delete-btn");
            a.href = "/Firma/sil/" + firmaId;
        });
    });
</script>
   