@using EntityLayer;
@model GuzergahOtobusKullanici
@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="p-2">
    <h3>Bilet Ekle</h3>
    @using (Html.BeginForm("Ekle", "GuzergahOtobusKullanici", FormMethod.Post, new { @class = "form-group" }))
    {
        
        @Html.Label("Seri No")
        @Html.TextBoxFor(bilet=>bilet.seriNo,new { @class = "form-control" })
        @Html.ValidationMessageFor(bilet=>bilet.seriNo,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Ödeme Tipi")
        <select class="form-control" name="odemeTipi">
            <option>False</option>
            <option>True</option>
        </select>
        <br />
        @Html.Label("Koltuk No")
        @Html.TextBoxFor(bilet=>bilet.koltukNo ,new { @class = "form-control" })
        @Html.ValidationMessageFor(bilet=>bilet.koltukNo ,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Bilet Kesim Tarihi")
        @Html.TextBoxFor(bilet=>bilet.biletKesimTarihi ,new { @class = "form-control" })
        @Html.ValidationMessageFor(bilet=>bilet.biletKesimTarihi ,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Yolcu Ad")
        @Html.TextBoxFor(bilet=>bilet.yolcuAd ,new { @class = "form-control" })
        @Html.ValidationMessageFor(bilet=>bilet.yolcuAd ,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Yolcu Soyad")
        @Html.TextBoxFor(bilet=>bilet.yolcuSoyad ,new { @class = "form-control" })
        @Html.ValidationMessageFor(bilet=>bilet.yolcuSoyad ,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Yolcu Tc")
        @Html.TextBoxFor(bilet=>bilet.yolcuTc ,new { @class = "form-control" })
        @Html.ValidationMessageFor(bilet=>bilet.yolcuTc ,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Yolcu Cinsiyet")
        <select class="form-control" name="yolcuCinsiyet">
            <option>False</option>
            <option>True</option>
        </select>
        <br />
        @Html.Label("Sefer Id")
        @Html.TextBoxFor(bilet=>bilet.seferId ,new { @class = "form-control" })
        @Html.ValidationMessageFor(bilet=>bilet.seferId ,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Kullanıcı Id")
        @Html.TextBoxFor(bilet=>bilet.kullaniciId ,new { @class = "form-control" })
        @Html.ValidationMessageFor(bilet=>bilet.kullaniciId ,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Durum")
        <select class="form-control" name="silindi">
            <option>False</option>
            <option>True</option>
        </select>
        <br />
        <input class="form-control btn btn-primary" type="submit" value="Ekle" />
    }
</div>