@using EntityLayer
@using Microsoft.AspNetCore.Html;
@model MenuSliderModel
@{
    ViewData["Title"] = "Home Page";
}

@section menu{
    @{
        void subMenuAdd(List<Menu>submenu,bool first)
        {
            var mclass = "";
            if (first)
            {
                mclass = "arrow-top";
            }
            <ul class="dropdown @mclass">
                @foreach(var item in submenu)
                {
                    if (item.children.Count>0)
                    {
                        <li class="has-children"><a href="#" class="nav-link">@item.name</a>
                            @{
                                subMenuAdd(item.children.ToList(),false);
                            }
                        </li>
                    }
                    else
                    {
                        <li><a href="#" class="nav-link">@item.name</a></li>
                    }
                }
            </ul>
        }
    }
    <nav class="site-navigation" role="navigation">
        <div class="">
            <div class="d-flex justify-content-end d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

            <ul class="site-menu main-menu js-clone-nav d-none d-lg-block">
                @foreach(var item in Model.menuModel)
                {

                    if (item.parentId==null)
                    {
                        if (item.children.Count>0)
                        {
                            <li class="has-children border">
                                <a href="#home-section" class="nav-link d-block px-3  border">@item.name</a>
                                @{
                                    subMenuAdd(item.children.ToList(),true);
                                }
                            </li>
          
                        }
                        else
                        {
                            <li class="border"><a href="#home-section" class="nav-link d-block px-3 border">@item.name</a></li>
                        }
                       
                    }
                }
            </ul>
        </div>
    </nav>
}

  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        @for(var i = 1; i < Model.sliderModel.Count(); i++)
        {
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" aria-label="Slide @i"></button>

        }
              </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="@Model.sliderModel.ElementAt(0).resimUrl" class="d-block w-100" alt="...">
            </div>
        @for (var i = 1; i < Model.sliderModel.Count(); i++)
        {
            <div class="carousel-item">
                <img src=@Model.sliderModel.ElementAt(i).resimUrl class="d-block w-100" alt="...">
            </div>
        }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
