@using EntityLayer
@using Microsoft.AspNetCore.Html;
@model List<Menu>
@{
    ViewData["Title"] = "Home Page";
}

@section menu{
    @{
        void subMenuAdd(List<Menu>submenu,bool first)
        {
            var mclass = "";
            if (first)
            {
                mclass = "arrow-top";
            }
            <ul class="dropdown @mclass">
                @foreach(var item in submenu)
                {
                    if (item.children.Count>0)
                    {
                        <li class="has-children"><a href="#" class="nav-link">@item.name</a>
                            @{
                                subMenuAdd(item.children.ToList(),false);
                            }
                        </li>
                    }
                    else
                    {
                        <li><a href="#" class="nav-link">@item.name</a></li>
                    }
                }
            </ul>
        }
    }
    <nav class="site-navigation" role="navigation">
        <div class="">
            <div class="d-flex justify-content-end d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

            <ul class="site-menu main-menu js-clone-nav d-none d-lg-block">
                @foreach(var item in Model)
                {

                    if (item.parentId==null)
                    {
                        if (item.children.Count>0)
                        {
                            <li class="has-children border">
                                <a href="#home-section" class="nav-link d-block px-3  border">@item.name</a>
                                @{
                                    subMenuAdd(item.children.ToList(),true);
                                }
                            </li>
          
                        }
                        else
                        {
                            <li class="border"><a href="#home-section" class="nav-link d-block px-3 border">@item.name</a></li>
                        }
                       
                    }
                }
            </ul>
        </div>
    </nav>
}

@await Component.InvokeAsync("SliderComponentView");