@using EntityLayer;
@model SeferGuzergahModel


@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var currentDate =DateTime.Today;
}    

<div class="p-2">
    <h3>Sefer Ekle</h3>
    @using (Html.BeginForm("Ekle", "GuzergahOtobus", FormMethod.Post, new { @class = "form-group" }))
    {

        @Html.Label("Sefer Süresi")
        @Html.TextBox("sure","0",new { @class = "form-control" })
        @Html.ValidationMessage("sure","",new { @class ="text-danger" })
        <br />

        @Html.Label("Sefer Kalkış Saati")
        @Html.TextBox("kalkisSaat","",new { @class = "form-control" })
        @Html.ValidationMessage("kalkisSaat","",new { @class ="text-danger" })
        <br />
        
        @Html.Label("Sefer Tarihi")
        @Html.TextBox("tarih",currentDate.ToString() ,new { @class = "form-control",@type="date" })
        @Html.ValidationMessage("tarih","",new { @class ="text-danger" })
        <br />
        
        @Html.Label("Bilet Fiyatı")
        @Html.TextBox("biletFiyat","0.00",new { @class = "form-control" })
        @Html.ValidationMessage("biletFiyat","",new { @class ="text-danger" })
        <br />

        @Html.Label("Durum")
        <select class="form-control" name="guzergahOtobusSilindi">
            <option>False</option>
            <option>True</option>
        </select>
        <br />

        @Html.Label("Güzergahlar")
        <select name="guzergahId" class="form-control">
            @foreach(var item in Model.guzergahModel)
            {
                var combine = @item.kalkisYeri.ToUpper() + "-" + @item.varisYeri.ToUpper();
                <option value=" @item.guzergahId">@combine</option>
            }
        </select>
        <br />
        @Html.Label("Otobüsler")
            <select name="otobusId" class="form-control">
            @foreach (var item in Model.otobusModel)
            {
               
                        <option value=" @item.otobusId">@item.plaka</option>
            }
            </select>
            <br />

        <input class="form-control btn btn-primary" type="submit" value="Sefer Ekle" />
    }
</div>
