@using EntityLayer;
@model GuzergahOtobus

@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}    

<div class="p-2">
    <h3>Sefer Ekle</h3>
    @using (Html.BeginForm("Ekle", "GuzergahOtobus", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.Label("Sefer Süresi")
        @Html.TextBoxFor(sefer=>sefer.sure,new { @class = "form-control" })
        @Html.ValidationMessageFor(sefer=>sefer.sure,"",new { @class ="text-danger" })
        <br />

        @Html.Label("Sefer Kalkış Saati")
        @Html.TextBoxFor(sefer=>sefer.kalkisSaat,new { @class = "form-control" })
        @Html.ValidationMessageFor(sefer=>sefer.kalkisSaat,"",new { @class ="text-danger" })
        <br />
        
        @Html.Label("Sefer Tarihi")
        @Html.TextBoxFor(sefer=>sefer.tarih,new { @class = "form-control" })
        @Html.ValidationMessageFor(sefer=>sefer.tarih,"",new { @class ="text-danger" })
        <br />
        
        @Html.Label("Bilet Fiyatı")
        @Html.TextBoxFor(sefer=>sefer.biletFiyat,new { @class = "form-control" })
        @Html.ValidationMessageFor(sefer=>sefer.biletFiyat,"",new { @class ="text-danger" })
        <br />      

        @Html.Label("Durum")
        <select class="form-control" name="guzergahOtobusSilindi">
            <option>False</option>
            <option>True</option>
        </select>
        <br />

        <input class="form-control btn btn-primary" type="submit" value="Sefer Ekle" />
    }
</div>
