@using EntityLayer;
@model Kullanici
@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
    <h2>Kullanıcı Ekle</h2><br />
    @using (Html.BeginForm("Ekle", "Kullanici", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.Label("Kullanici Adı")
        @Html.TextBoxFor(kullanici=>kullanici.kullaniciAd,new { @class = "form-control" })
        @Html.ValidationMessageFor(kullanici=>kullanici.kullaniciAd,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Kullanici Şifre")
        @Html.TextBoxFor(kullanici=>kullanici.kullaniciSifre,new { @class = "form-control" })
        @Html.ValidationMessageFor(kullanici=>kullanici.kullaniciSifre,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Ad")
        @Html.TextBoxFor(kullanici=>kullanici.ad,new { @class = "form-control" })
        @Html.ValidationMessageFor(kullanici=>kullanici.ad,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Soyad")
        @Html.TextBoxFor(kullanici=>kullanici.soyad,new { @class = "form-control" })
        @Html.ValidationMessageFor(kullanici=>kullanici.soyad,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Doğum Tarihi")
        @Html.TextBoxFor(kullanici=>kullanici.dogumTarihi,new { @class = "form-control" })
        @Html.ValidationMessageFor(kullanici=>kullanici.dogumTarihi,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Tc Kimlik No")
        @Html.TextBoxFor(kullanici=>kullanici.tc,new { @class = "form-control" })
        @Html.ValidationMessageFor(kullanici=>kullanici.tc,"",new { @class ="text-danger" })
        <br />
        @Html.Label("E-Mail")
        @Html.TextBoxFor(kullanici=>kullanici.mail,new { @class = "form-control" })
        @Html.ValidationMessageFor(kullanici=>kullanici.mail,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Cinsiyet")
        <select class="form-control" name="cinsiyet">
            <option>False</option>
            <option>True</option>
        </select>
        <br />
        @Html.Label("Telefon Numarası")
        @Html.TextBoxFor(kullanici=>kullanici.tel,new { @class = "form-control" })
        @Html.ValidationMessageFor(kullanici=>kullanici.tel,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Durum")
        <select class="form-control" name="silindi">
            <option>False</option>
            <option>True</option>
        </select>
        <br />
        <input class="form-control btn btn-primary" type="submit" value="Kullanıcı Ekle" />
    }
</div>

