@using EntityLayer;
@model List<Kullanici>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-dark">Kullanıcılar</h1>

<div class="overflow-auto">
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Kullanici Id</th>
            <th>Kullanici Ad</th>
            <th>Kullanici Şifre</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Doğum Tarihi</th>
            <th>Tc</th>
            <th>E-Mail</th>
            <th>Cinsiyet</th>
            <th>Telefon</th>
            <th>Durum</th>
            <th>Sil</th>
            <th>Güncelle</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.kullaniciId</td>
                    <td>@item.kullaniciAd</td>
                    <td>@item.kullaniciSifre</td>
                    <td>@item.ad</td>
                    <td>@item.soyad</td>
                    <td>@item.dogumTarihi</td>
                    <td>@item.tc</td>
                    <td>@item.mail</td>
                    <td>@item.cinsiyet</td>
                    <td>@item.tel</td>
                    <td>@item.silindi</td>
                    <td>
                    <button type="button" class="btn btn-outline-danger  text-center" data-bs-whatever="@item.kullaniciId" data-bs-toggle="modal" data-bs-target="#decisionPopup">Sil </button>
                </td>
                <td><a href="/Kullanici/guncelle/@item.kullaniciId" type="button" class="btn btn-outline-primary p-2">Güncelle</a></td>
            </tr>
               
        }

    </tbody>
</table>
</div>

<div class="text-center d-flex justify-content-start p-2">
    <a href="/Kullanici/ekle" class="btn btn-info">Yeni Kullanıcı Ekle</a>
</div>

<!-- Modal -->
@*#decisionPopup Model*@
<div class="modal fade" id="decisionPopup" tabindex="=-1" aria-labelledby="silLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="silLabel">Uyarı</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Silmek istediğinizden emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                <a id="delete-btn" href="" class="btn btn-success">Evet</a>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#decisionPopup').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var kullaniciId = button.attr('data-bs-whatever');
            
            var a = document.querySelector("#delete-btn");
            a.href = "/Kullanici/sil/" + kullaniciId;
        });
    });
</script>