@using BusBiletCoreApplication.Models
@model OtobusFirmaModel;
@{
	ViewData["Title"] = "Ekle";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
	<h3>Otobus Ekle</h3>
	<form action="/Otobus/Ekle" method="post">
		<label>Firma Ad</label>
		<select class="form-control" name="firmaId">
			@foreach (var item in Model.firmaModal)
			{
							<option value="@item.firmaId">@item.firmaAd</option>
			}
			</select>
		<br />
		<label>Koltuk Sayısı</label>
		<input class="form-control" type="text" name="koltukSayisi"/>
		<div id="koltukSayisi" class="validation-container">
			@Html.ValidationMessageFor(x => x.otobusModal.koltukSayisi)
	</div>
		<br />
		<label>Wifi</label>
		<select class="form-control" name="wifi" >
		<option value="False">Yok</option>
		<option value="True">Var</option>
		</select>
		<br />
		<label>Tv</label>
		<select class="form-control" name="tv">
		<option value="False">Yok</option>
		<option value="True">Var</option>
		</select>
		<br />
		<label>Plaka</label>
		<input class="form-control" type="text" name="plaka"/>
		<div id="plaka" class="validation-container">
			@Html.ValidationMessageFor(x => x.otobusModal.plaka)
	</div>
		<br />
		<label>Marka</label>
		<input class="form-control" type="text" name="marka"/>
		<div id="marka" class="validation-container">
			@Html.ValidationMessageFor(x => x.otobusModal.marka)
	</div>
		<br />
		<label>Model</label>
		<input class="form-control" type="text" name="model"/>
		<div id="model" class="validation-container">
			@Html.ValidationMessageFor(x => x.otobusModal.model)
	</div>	
		<br />
		<label>Durum</label>
		<select class="form-control" name="otobusSilindi" >
		<option value="False">Aktif</option>
		<option value="True">Pasif</option>
		</select>
		<br />
		<input class="form-control btn btn-primary" type="submit" value="Ekle" />

	</form>
		
</div>

