@using BusBiletCoreApplication.Models
@model OtobusFirmaModel;
@{
	ViewData["Title"] = "Ekle";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
	<h3>Otobus Ekle</h3>
	<form action="/Otobus/Ekle" method="post">
		<label>Firma Ad</label>
		<select class="form-control" name="firmaId">
			@foreach (var item in Model.firmaModal)
			{
							<option value="@item.firmaId">@item.firmaAd</option>
			}
			</select>
		<br />
		<label>Koltuk Sayısı</label>
		<input class="form-control" type="text" name="koltukSayisi"/>
		@Html.ValidationMessageFor(otobus=>otobus.otobusModal.koltukSayisi,"",new { @class ="text-danger" })
		<br />
		<label>Wifi</label>
		<select class="form-control" name="wifi" >
		<option>False</option>
		<option>True</option>
		</select>
		<br />
		<label>Tv</label>
		<select class="form-control" name="tv">
		<option>False</option>
		<option>True</option>
		</select>
		<br />
		<label>Plaka</label>
		<input class="form-control" type="text" name="plaka"/>
		@Html.ValidationMessageFor(otobus=>otobus.otobusModal.plaka,"",new { @class ="text-danger" })
		<br />
		<label>Marka</label>
		<input class="form-control" type="text" name="marka"/>
		@Html.ValidationMessageFor(otobus=>otobus.otobusModal.marka,"",new { @class ="text-danger" })
		<br />
		<label>Model</label>
		<input class="form-control" type="text" name="model"/>
		@Html.ValidationMessageFor(otobus=>otobus.otobusModal.model,"",new { @class ="text-danger" })
		<br />
		<label>Durum</label>
		<select class="form-control" name="otobusSilindi" >
			<option>False</option>
			<option>True</option>
		</select>
		<br />
		<input class="form-control btn btn-primary" type="submit" value="Ekle" />

	</form>
		
</div>

