@using EntityLayer;
@model Otobus;
@{
	ViewData["Title"] = "Ekle";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
	<h3>Otobus Ekle</h3>
	@using (Html.BeginForm("Ekle", "Otobus", FormMethod.Post, new { @class = "form-group" }))
	{
	@Html.Label("Firma Id")
	@Html.TextBoxFor(otobus=>otobus.firmaId,new { @class = "form-control" })
	@Html.ValidationMessageFor(otobus=>otobus.firmaId,"",new { @class ="text-danger" })
	<br />
	@Html.Label("Koltuk Sayısı")
	@Html.TextBoxFor(otobus=>otobus.koltukSayisi,new { @class = "form-control" })
	@Html.ValidationMessageFor(otobus=>otobus.koltukSayisi,"",new { @class ="text-danger" })
	<br />
	@Html.Label("Wifi")
	<select class="form-control" name="wifi" >
	<option>False</option>
	<option>True</option>
	</select>
	<br />
	@Html.Label("Tv")
	<select class="form-control" name="tv" >
	<option>False</option>
	<option>True</option>
	</select>
	<br />
	@Html.Label("Plaka")
	@Html.TextBoxFor(otobus=>otobus.plaka,new { @class = "form-control" })
	@Html.ValidationMessageFor(otobus=>otobus.plaka,"",new { @class ="text-danger" })
	<br />
	@Html.Label("Marka")
	@Html.TextBoxFor(otobus=>otobus.marka,new { @class = "form-control" })
	@Html.ValidationMessageFor(otobus=>otobus.marka,"",new { @class ="text-danger" })
	<br />
	@Html.Label("Model")
	@Html.TextBoxFor(otobus=>otobus.model,new { @class = "form-control" })
	@Html.ValidationMessageFor(otobus=>otobus.model,"",new { @class ="text-danger" })
	<br />
	@Html.Label("Durum")
	<select class="form-control" name="otobusSilindi" >
		<option>False</option>
		<option>True</option>
	</select>
	<br />
	<input class="form-control btn btn-primary" type="submit" value="Ekle" />
	}
</div>

