@using EntityLayer;
@model Otobus;
@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
    <h3>Otobus Guncelle</h3>
<form action="/Otobus/guncelle" method="post">
    <input type="hidden" class="form-control" type="text" name="otobusId" value="@Model.otobusId" />
    <label>Firma Id</label>
    <input class="form-control" type="text" name="firmaId"value="@Model.firmaId" />
    <br />
    <label>Koltuk Sayısı</label>
    <input class="form-control" type="text" name="koltukSayisi" value="@Model.koltukSayisi" />
    <br />
    <label>Wifi</label>
    <select class="form-control" name="wifi">
            @if (Model.wifi)
            {
                    <option selected>True</option>
                    <option>False</option>
            }
            else
            {
                    <option>True</option>
                    <option selected>False</option>
            }
    </select>
    <label>TV</label>
    <select class="form-control" name="tv" >
            @if (Model.tv)
            {
                    <option selected>True</option>
                    <option>False</option>
            }
            else
            {
                    <option>True</option>
                    <option selected>False</option>
            }
    </select>
    <br />
    <label>Plaka</label>
    <input class="form-control" type="text" name="plaka" value="@Model.plaka" />
    <br />
    <label>Marka</label>
    <input class="form-control" type="text" name="marka" value="@Model.marka" />
    <br />
    <label>Model</label>
    <input class="form-control" type="text" name="model" value="@Model.model"/>
    <br />
    <label>Durum</label>
    <select class="form-control" name="otobusSilindi" >
            @if (Model.otobusSilindi)
            {
                    <option selected>True</option>
                    <option>False</option>
            }
            else
            {
                    <option>True</option>
                    <option selected>False</option>
            }
    </select>
    <br />
    <input class="form-control btn btn-primary" type="submit" value="Ekle" />
</form>
</div>

