@using BusBiletCoreApplication.Models
@model OtobusFirmaModel;
@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
    <h3>Otobus Guncelle</h3>
    @using (Html.BeginForm("Guncelle", "Otobus", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.TextBoxFor(otobus=>otobus.otobusModal.otobusId,new { @class = "form-control",@name="otobusId",@value="@Model.otobusModal.otobusId",@type="hidden"})
        @Html.Label("Firma Ad")
            <select class="form-control" name="firmaId">
            @foreach (var item in Model.firmaModal)
            {
                if(item.firmaId==Model.otobusModal.firmaId)
                {
                    <option value="@item.firmaId" selected>@item.firmaAd</option>
                }
                else
                {
                    <option value="@item.firmaId" >@item.firmaAd</option> 
                }
            }
                </select>
            <br />
        @Html.Label("Koltuk Sayısı")
        @Html.TextBoxFor(otobus=>otobus.otobusModal.koltukSayisi,new { @class = "form-control",@name="koltukSayisi",@value="@Model.otobusModal.koltukSayisi"})
        @Html.ValidationMessageFor(otobus=>otobus.otobusModal.koltukSayisi,"",new { @class ="text-danger"})
            <br />
        @Html.Label("Wifi")
           <select class="form-control" name="wifi">
            @if (Model.otobusModal.wifi)
            {
                <option selected>True</option>
                <option>False</option>
            }
            else
            {
                <option>True</option>
                <option selected>False</option>
            }
            </select>
            <br />
        @Html.Label("Tv")
            <select class="form-control" name="tv">
            @if (Model.otobusModal.tv)
            {
                <option selected>True</option>
                <option>False</option>
            }
            else
            {
                <option>True</option>
                <option selected>False</option>
            }
            </select>
            <br />
        @Html.Label("Plaka")
        @Html.TextBoxFor(otobus=>otobus.otobusModal.plaka,new { @class = "form-control",@name="plaka",@value="@Model.otobusModal.plaka" })
        @Html.ValidationMessageFor(otobus=>otobus.otobusModal.plaka,"",new { @class ="text-danger" })
            <br />
        @Html.Label("Marka")
        @Html.TextBoxFor(otobus=>otobus.otobusModal.marka,new { @class = "form-control",@name="marka",@value="@Model.otobusModal.marka" })
        @Html.ValidationMessageFor(otobus=>otobus.otobusModal.marka,"",new { @class ="text-danger" })
            <br />
        @Html.Label("Model")
        @Html.TextBoxFor(otobus=>otobus.otobusModal.model,new { @class = "form-control",@name="model",@value="@Model.otobusModal.model" })
        @Html.ValidationMessageFor(otobus=>otobus.otobusModal.model,"",new { @class ="text-danger" })
            <br />
        @Html.Label("Durum")
            <select class="form-control" name="otobusSilindi" >
            @if (Model.otobusModal.otobusSilindi)
            {
                <option selected>True</option>
                <option>False</option>
            }
            else
            {
                <option>True</option>
                <option selected>False</option>
            }
            </select>
            <br /> 
            <input class="form-control btn btn-primary" type="submit" value="Güncelle" />   
    }
</div>

