@using BusBiletCoreApplication.Models
@model OtobusFirmaModel;
@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
    <h3>Otobus Guncelle</h3>
   <form action="/Otobus/Guncelle" method="post">
	   <input type="hidden" class="form-control" name="otobusId" value="@Model.otobusModal.otobusId" />
		<label>Firma Ad</label>
		<select class="form-control" name="firmaId">
			@foreach (var item in Model.firmaModal)
			{
				if(item.firmaId==Model.otobusModal.firmaId)
				{
					<option value="@item.firmaId" selected>@item.firmaAd</option>
				}
				else
				{
							<option value="@item.firmaId">@item.firmaAd</option>
				}
			}
			</select>
		<br />
		<label>Koltuk Sayısı</label>
		<input class="form-control" type="text" name="koltukSayisi" value="@Model.otobusModal.koltukSayisi"/>
		@Html.ValidationMessageFor(otobus=>otobus.otobusModal.koltukSayisi,"",new { @class ="text-danger" })
		<br />
		<label>Wifi</label>
		<select class="form-control" name="wifi" >
			@if (Model.otobusModal.wifi)
			{
					<option>False</option>
					<option selected>True</option>
			}
			else
			{
						<option selected>False</option>
						<option >True</option>
			}
		</select>
		<br />
		<label>Tv</label>
		<select class="form-control" name="tv">
			@if (Model.otobusModal.tv)
			{
					<option>False</option>
					<option selected>True</option>
			}
			else
			{
						<option selected>False</option>
						<option >True</option>
			}
		</select>
		<br />
		<label>Plaka</label>
		<input class="form-control" type="text" name="plaka" value="@Model.otobusModal.plaka"/>
		@Html.ValidationMessageFor(otobus=>otobus.otobusModal.plaka,"",new { @class ="text-danger" })
		<br />
		<label>Marka</label>
		<input class="form-control" type="text" name="marka"  value="@Model.otobusModal.marka"/>
		@Html.ValidationMessageFor(otobus=>otobus.otobusModal.marka,"",new { @class ="text-danger" })
		<br />
		<label>Model</label>
		<input class="form-control" type="text" name="model" value="@Model.otobusModal.model"/>
		@Html.ValidationMessageFor(otobus=>otobus.otobusModal.model,"",new { @class ="text-danger" })
		<br />
		<label>Durum</label>
		<select class="form-control" name="otobusSilindi" >
			@if(Model.otobusModal.otobusSilindi)
			{
				<option>False</option>
				<option selected>True</option>
			}
			else
			{
					<option selected>False</option>
					<option >True</option>
			}

		</select>
		<br />
		<input class="form-control btn btn-primary" type="submit" value="Ekle" />

	</form>
</div>

