@using EntityLayer;
@model Guzergah;
@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
    <h3>Güzergah Güncelle</h3>
    @using (Html.BeginForm("Guncelle", "Guzergah", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.Label("Kalkış Yeri")
        @Html.TextBoxFor(guzergah=>guzergah.kalkisYeri ,new { @class = "form-control" })
        @Html.ValidationMessageFor(guzergah=>guzergah.kalkisYeri  ,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Varış Yeri")
        @Html.TextBoxFor(guzergah=>guzergah.varisYeri,new { @class = "form-control" })
        @Html.ValidationMessageFor(guzergah=>guzergah.varisYeri,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Durum")
        <select class="form-control" name="silindi">
            <option>False</option>
            <option>True</option>
        </select>
        <br />
        <input class="form-control btn btn-primary" type="submit" value="Güncelle" />
    }
</div>

