@using EntityLayer;
@model List<Guzergah>;
@{
    ViewData["Title"] = "Listele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
<h1 style="text-aligncenter;">GÜZERGAHLAR</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Guzergah Id</th>
            <th>Kalkış Yeri</th>
            <th>Varış Yeri</th>
            <th>Durum</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.guzergahId</td>
                <td>@item.kalkisYeri</td>
                <td>@item.varisYeri</td>
                <td>@item.silindi</td>
                
                <td>
                    <button type="button" class="btn btn-danger  text-center" data-bs-whatever="@item.guzergahId" data-bs-toggle="modal" data-bs-target="#decisionPopup">Sil </button>
                </td>
                <td><a href="/Firma/guncelle/@item.guzergahId" type="button" class="btn btn-primary p-2">Güncelle</a></td>
            </tr>
        }

    </tbody>
</table>
<div class="text-center d-flex justify-content-start p-2">
    <a href="" class="btn btn-info">Yeni Güzergah Ekle</a>
</div>
<!-- Modal -->
@*#decisionPopup Model*@
<div class="modal fade" id="decisionPopup" tabindex="=-1" aria-labelledby="silLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="silLabel">Uyarı</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Silmek istediğinizden emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                <a id="delete-btn" href="" class="btn btn-success">Evet</a>
            </div>
        </div>
    </div>
</div>


    <script> 
    $(document).ready(function(){
        $('#decisionPopup').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget);
            var GuzergahId = button.attr('data-bs-whatever');
            console.log(GuzergahId);
            var a = document.querySelector("#delete-btn");
            a.href = "/Guzergah/sil/" + GuzergahId;
        });
    });
</script>





